<div class="ui center aligned grid">
    <div class="ui cards">
        <div class="ui card clickable">
            <div class="ui hidden fitted divider"></div>
            <div class="ui center aligned header title">
                Vanilla
            </div>
            <div class="content">
                Todo application with traditional server side rendering.
            </div>
            <div class="center aligned content">
                <a class="ui button" href="/vanilla">Open</a>
            </div>
        </div>
        <div class="ui card clickable">
            <div class="ui hidden fitted divider"></div>
            <div class="ui center aligned header title">
                GrpahQL
            </div>
            <div class="content">
                Todo application using GraphQL
            </div>
            <div class="center aligned content">
                <a class="ui button" href="/ex-with-graphql">Open</a>
            </div>
        </div>
    </div>
</div>
