<head>
    <title>todo</title>
    <link rel="stylesheet" href="https://oftheday.in/static/css/vendor/semantic.min.css" />
    <link rel="stylesheet" href="https://oftheday.in/static/css/vendor/postbox.min.css" />
    <script type="text/javascript" src="https://oftheday.in/static/js/vendor/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://oftheday.in/static/js/vendor/semantic.min.js"></script>
    <script type="text/javascript" src="https://oftheday.in/static/js/vendor/postbox.min.js"></script>
    <script type="text/javascript" src="/static/js/todo.js"> </script>
</head>
